@import '../../placeholders.scss';

.detail {
    @extend %main-container;
    color: var(--text-dark);
    display: grid;
    grid-template-columns: 680px 1fr;
    grid-template-areas: 
    "image image info"
    "description description .";
    padding: 32px;

    &__image {
        grid-area: image;
        display: flex;
        justify-content: center;
    }

    &__info {
        grid-area: info;

        &__condition {
            font-size: 14px;
            margin-bottom: 16px;
        }

        &__title {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 32px;
        }

        &__price {
            font-size: 46px;
            margin-bottom: 32px;
            &::before {
                content: '$';
                margin-right: 16px;
                font-size: 48px;
            }
        }

        &__button {
            background: var(--background-blue);
            border-radius: 6px;
            color: var(--text-white);
            cursor: pointer;
            line-height: 48px;
            width: 100%;
        }
    }

    &__description {
        grid-area: description;
        padding-top: 40px;
        overflow: hidden;

        &__title {
            font-size: 28px;
            margin-bottom: 32px;
        }

        &__description {
            font-size: 16px;
        }
    }
}