.item {
    background: var(--background-white);
    box-shadow: var(--color-shadow-large);
    border-radius: 5px;
    border: solid 1px var(--gray-light);
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    width: 100%;

    &__image {
        overflow: hidden;
        height: 200px;
        width: 200px;
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__col-info {
        padding: 20px;
        width: calc(100% - 400px);

        &__price {
            font-size: 24px;
            margin-bottom: 20px;

            &::before {
                content: '$';
                font-size: 26px;
                margin-right: 5px;
            }

            &.free {
                &::after {
                    background: green;
                    border-radius: 50%;
                    content: "";
                    margin-left: 10px;
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                }
            }
        }

        &__title {
            font-size: 16px;
        }
    }

    &__col-status {
        padding: 20px 0;
        width: 200px;
    }
}