@import "./normalize.css";

:root {
  --background-body: #ededed;
  --background-card: #3c3e44;
  --background-white: #ffffff;
  --background-yellow: #fff159;
  --background-blue: #3483fa;
  --background-green: #00a650;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-gray: #828282;
  --gray-light: #eaeaea;
  --gray-dark: #3c3e44;

  --color-shadow-large: 0 8px 24px rgba(140, 149, 159, 0.2);
  --width-container: 960px;
}

body {
  background: var(--background-body);
  color: var(--text-gray);
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  
}

