@import "./normalize.css";

:root {
  --background-body: #ffffff;
  --background-card: #3c3e44;
  --background-gray: #e0e0e0;
  --background-yellow: #fff159;
  --background-green: #11555f;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-gray: #828282;
  --width-container: 960px;
}
