.breadcrumb {
    height: 50px;
    width: 100%;

    &__item {
        font-size: 14px;
        display: inline-block;
        padding: 16px 0;

        & + & {
            margin-left: 10px;
            &::before{
              content: '|';
            margin-right: 10px;

            }
        }
    }
}